:root {
    --primary-color: rgb(184, 102, 3);
    --primary-dark: lightcoral;
    --primary-light: #1a4fd3;
    --accent-color: #24b4fb;
    --text-light: #f8f9fa;
    --text-dark: #2c3e50;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/symfoninichols.jpg") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.534);
    padding: 2rem;
    color: #343a40;
    display: flex;
    text-align: center;
    max-height: 100%;
    border-radius: 30px;
}

.left-col,
.right-col {
    padding: 1rem;
}

.left-col {
}

.left-col {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Quicksand, sans-serif;
    padding: 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* allows it to grow with content */
    overflow-y: 100%;
}

    .left-col img {
        width: 180px;
        margin-bottom: 1.5rem;
        display: flex;
        scale: 1;
    }

    .left-col h3 {
        color: #0F4264;
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Quicksand, sans-serif;
        font-weight: bold;
    }

.right-col {
    flex: 1 1 105%;
}

    .right-col h2 {
        color: var(--primary-color);
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
    }

.form-label {
    font-size: 20px;
    font-weight: bold;
}

.form-control {
    padding: 0.75rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}


    .form-control:focus {
        border-color: var(--accent-color);
        box-shadow: 0 0 0 0.2rem rgba(36, 180, 251, 0.25);
    }

.btn-primary {
    background-color: var(--primary-color);
    border: none;
    padding: 0.75rem;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
}

    .btn-primary:hover {
        background-color: var(--primary-dark);
    }

.text-small {
    font-size: 1rem;
}

@media (max-width: 768px) {
    .register-container {
        flex-direction: column;
        border-radius: 30px;
        width: 100%;
        justify-content: center;
    }

    .left-col {
        display: flex;
        border-radius: 0 0 10px 10px;
        height: 60%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .register-left img {
        display: flex;
        scale: 1.2;
        padding: 2em;
    }
}